{% extends "base.html" %}
{% block content %}
<h1>Install</h1>

<p>Install this app in a shop to get access to its private admin data.</p>

<p style="padding-bottom: 1em"><span class="hint">Don&rsquo;t have a shop to install your app in handy? <a href="https://app.shopify.com/services/partners/api_clients/test_shops">Create a test shop.</a></span></p>

<form action="{% url "shopify_app.views.authenticate" %}" method="post">{% csrf_token %}
  <label for='shop'><strong>The URL of the Shop</strong>
    <span class="hint">(or just the subdomain if it&rsquo;s at myshopify.com)</span>
  </label>
  <p>
    <input id="shop" name="shop" size="45" type="text" />
    <input name="commit" type="submit" value="Install" />
  </p>
</form>
{% endblock %}
